<%= form_for(@appt_upload) do |f| %>
  <% if @appt_upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appt_upload.errors.count, "error") %> prohibited this appt_upload from being saved:</h2>

      <ul>
      <% @appt_upload.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, :cols => "80", :rows => "20" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
